.section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section h1 {
  font-size: 3rem;
  color: white;
  -webkit-text-stroke: 1px black;
  width: 45%;
  text-align: left;
}
